{% extends 'web/base.html' %}

{% block css %}
<meta name="keywords" content="黑色模板,个人网站模板,个人博客模板,博客模板,css3,html5,网站模板"/>
<meta name="description" content="这是一个有关黑色时间轴的css3 html5 网站模板"/>
<link href="/static/web/css/styles.css" rel="stylesheet">
<!-- 返回顶部调用 begin -->
<link href="/static/web/css/lrtk.css" rel="stylesheet"/>
{% endblock %}

{% block js %}
<script type="text/javascript" src="/static/web/js/jquery.js"></script>
<script type="text/javascript" src="/static/web/js/js.js"></script>
{% endblock %}
