<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
        {% endblock %}
    </title>

    {% block css %}
    {% endblock %}

    {% block js %}
    {% endblock %}
</head>
<body style="background: url(https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1547270534035&di=993ccad6a67fbb8d549fe8542e5a7445&imgtype=0&src=http%3A%2F%2Fimg.zcool.cn%2Fcommunity%2F0156cb59439764a8012193a324fdaa.gif);">>

    {% block header %}
    {% endblock %}

    {% block content %}
    {% endblock %}

    {% block footer %}

    {% endblock %}
</body>
</html>