
{% extends 'web/base_main.html' %}

{% block title %}

{% endblock %}

{% block css %}
{{ block.super }}
<link href="/static/web/css/animation.css" rel="stylesheet">
{% endblock %}
{% block content %}
<header>
  <nav id="nav">
    <ul>
      <li><a href="{% url 'web:index' %}">网站首页</a></li>
      <!--<li><a href="/download/" target="_blank" title="个人博客模板">个人博客模板</a></li>-->
      <!--<li><a href="/book/" target="_blank" title="图书推荐">图书推荐</a></li>-->
      <!--<li><a href="/web/" target="_blank" title="网站建设">网站建设</a></li>-->
      <!--<li><a href="/newshtml5/" target="_blank" title="HTML5 / CSS3">HTML5 / CSS3</a></li>-->
      <!--<li><a href="/jstt/" target="_blank" title="技术探讨">技术探讨</a></li>-->
      <li><a href="{% url 'web:view' %}">慢生活</a></li>
      <!--<li><a href="/newstalk/" target="_blank" title="碎言碎语">碎言碎语</a></li>-->
      <!--<li><a href="/news/jsex/" target="_blank" title="JS 实例代码演示">JS实例</a></li>-->
    </ul>
    <script src="js/silder.js"></script><!--获取当前页导航 高亮显示标题-->
  </nav>
</header>
<!--header end-->
<div id="mainbody">
  {% if not art %}
  <div class="info">
    <figure><img src="/static/web/images/art.jpg" alt="Panama Hat">
      <figcaption><strong>渡人如渡己，渡已，亦是渡</strong> 当我们被误解时，会花很多时间去辩白。
        但没有用，没人愿意听，大家习惯按自己的所闻、理解做出判别，每个人其实都很固执。与其努力且痛苦的试图扭转别人的评判，不如默默承受，给大家多一点时间和空间去了解。而我们省下辩解的功夫，去实现自身更久远的人生价值。其实，渡人如渡己，渡已，亦是渡人。--
        作者: 刘欣
      </figcaption>
    </figure>
    <div class="card">
      <h1>我的名片</h1>
      <p>网名：哥哥</p>
      <p>职业：Python后端开发</p>
      <p>电话：18282373004</p>
      <p>Email：1304924993@qq.com</p>
      <ul class="linkmore">
        <li><a href="{% url 'web:comment' %}" class="talk" title="给我评论"></a></li>
        <!--<li><a href="/" class="address" title="联系地址"></a></li>-->
        <!--<li><a href="/" class="email" title="给我写信"></a></li>-->
        <!--<li><a href="/" class="photos" title="生活照片"></a></li>-->
        <li><a href="" class="heart" title="爱你"></a></li>
      </ul>
    </div>
  </div>
  {% endif %}
  <!--info end-->
  <div class="blank"></div>
  <div class="blogs">
    {% if flag %}
    <form action="" method="post" autocomplete="off" class="form-signin">
      <h1 class="form-signin-heading" style="color:white;">评论</h1>
      <h3 for="comment" class="sr-only" style="color:white;">评论内容</h3>
      <input placeholder="请输入评论..." style="width:630px; height: 50px;" type="text" id="comment" name="comment"
             class="form-control" required>
      <a href="">
        <button class="btn btn-lg btn-primary btn-block" type="submit" id="signinSubmit"
                style="width:50px; height: 50px;">发布
        </button>
      </a>
    </form>
    {% else %}
    <ul class="bloglist">
      {% if art %}
      <h1 class="title" style="color:white; text-align: center;line-height: 50px;">{{ arts.title }}</h1>
      <img src="/media/{{ arts.icon }}"
           style="margin-top: 20px; border: 0; vertical-align: middle; width:630px; height: 250px;">
      <h2 style="color:#b9b9b9; width:630px;margin-top: 20px;">{{ arts.content | striptags }}</h2>
      {% endif %}
      {% for art in page %}
      <li>
        <div class="arrow_box">
          <div class="ti"></div>
          <!--三角形-->
          <div class="ci"></div>
          <!--圆形-->
          <h2 class="title"><a href="{% url 'web:article' art.id %}">{{ art.title }}</a></h2>
          <ul class="textinfo">
            <a href="{% url 'web:article' art.id %}"><img src="/media/{{ art.icon }}"></a>
            <p>{{ art.desc | striptags }}</p>
          </ul>
          <ul class="details">
            <!--<li class="likes"><a href="#">15</a></li>-->
            <li class="fa-share"><a href="{% url 'web:article' art.id %}">阅读</a></li>
            <li class="icon-time"><a href="#" style="color:#b9b9b9;">发布时间: {{ art.creat_time | date:"Y-m-d" }}</a></li>
          </ul>
        </div>
        <!--arrow_box end-->
      </li>
      {% endfor %}
      <ul class="pagination pagenav">
        {% if page.has_previous %}
        <button class="disabled" style="width:630px;height:50px;background-color:#333;"><a
                href="{% url 'web:index' %}?page={{ page.previous_page_number }}" aria-label="Previous"> <span
                aria-hidden="true" style="color:#b9b9b9;font-size:20px;">上&emsp;一&emsp;页</span></a></button>
        {% endif %}
        <!--{% for i in page.paginator.page_range %}-->
        <!--<li class=""><a href="{% url 'web:index' %}?page={{ i }}">{{ i }}</a></li>-->
        <!--{% endfor %}-->
        {% if page.has_next %}
        <button class="disabled" type="submit" style="width:630px;height:50px;background-color:#333;"><a
                href="{% url 'web:index' %}?page={{ page.next_page_number }}" aria-label="Previous"> <span
                aria-hidden="true" style="color:#b9b9b9;font-size:20px;">下&emsp;一&emsp;页</span></a></button>
        {% endif %}
      </ul>
    </ul>

    <!--bloglist end-->
    <aside>
      <div class="tuijian">
        <h2>推荐文章</h2>
        <ol>
          {% for i in a %}
          <li><span><strong>{{ forloop.counter }}</strong></span><a href="{% url 'web:article' i.id %}">{{ i.title }}</a></li>
          {% endfor %}
          <!--<li><span><strong>2</strong></span><a href="/">励志人生-要做一个潇洒的女人</a></li>-->
          <!--<li><span><strong>3</strong></span><a href="/">女孩都有浪漫的小情怀——浪漫的求婚词</a></li>-->
          <!--<li><span><strong>4</strong></span><a href="/">Green绿色小清新的夏天-个人博客模板</a></li>-->
          <!--<li><span><strong>5</strong></span><a href="/">女生清新个人博客网站模板</a></li>-->
          <!--<li><span><strong>6</strong></span><a href="/">Wedding-婚礼主题、情人节网站模板</a></li>-->
          <!--<li><span><strong>7</strong></span><a href="/">Column 三栏布局 个人网站模板</a></li>-->
          <!--<li><span><strong>8</strong></span><a href="/">时间煮雨-个人网站模板</a></li>-->
          <!--<li><span><strong>9</strong></span><a href="/">花气袭人是酒香—个人网站模板</a></li>-->
        </ol>
      </div>
      <div class="toppic">
        <h2>图文并茂</h2>
        <ul>
          <li><a href=""><img src="/static/web/images/k01.jpg">腐女不可怕，就怕腐女会画画！
            <p>伤不起</p>
          </a></li>
          <li><a href=""><img src="/static/web/images/k02.jpg">问前任，你还爱我吗？无限戳中泪点~
            <p>感兴趣</p>
          </a></li>
          <li><a href=""><img src="/static/web/images/k03.jpg">世上所谓幸福，就是一个笨蛋遇到一个傻瓜。
            <p>喜欢</p>
          </a></li>
        </ul>
      </div>
      <div class="clicks">
        <h2>热门点击</h2>
        <ol>
          <li><span><a href="">慢生活</a></span><a href="/">有一种思念，是淡淡的幸福,一个心情一行文字</a></li>
          <li><span><a href="">爱情美文</a></span><a href="/">励志人生-要做一个潇洒的女人</a></li>
          <li><span><a href="">慢生活</a></span><a href="/">女孩都有浪漫的小情怀——浪漫的求婚词</a></li>
          <li><span><a href="">博客模板</a></span><a href="/">Green绿色小清新的夏天-个人博客模板</a></li>
          <li><span><a href="">女生个人博客</a></span><a href="/">女生清新个人博客网站模板</a></li>
          <li><span><a href="">Wedding</a></span><a href="/">Wedding-婚礼主题、情人节网站模板</a></li>
          <li><span><a href="">三栏布局</a></span><a href="/">Column 三栏布局 个人网站模板</a></li>
          <li><span><a href="">个人网站模板</a></span><a href="/">时间煮雨-个人网站模板</a></li>
          <li><span><a href="">古典风格</a></span><a href="/">花气袭人是酒香—个人网站模板</a></li>
        </ol>
      </div>
      <div class="search">
        <form class="searchform" method="get" action="#">
          <input type="text" name="s" value="Search" onfocus="this.value=''" onblur="this.value='Search'">
        </form>
      </div>
      <div class="viny">
        <dl>
          <dt class="art"><img src="/static/web/images/artwork.png" alt="专辑"></dt>
          <dd class="icon-song"><span></span>南方姑娘</dd>
          <dd class="icon-artist"><span></span>歌手：赵雷</dd>
          <dd class="icon-album"><span></span>所属专辑：《赵小雷》</dd>
          <dd class="icon-like"><span></span><a href="/">喜欢</a></dd>
          <dd class="music">
            <audio src="/static/web/images/nf.mp3" controls></audio>
          </dd>
          <!--也可以添加loop属性 音频加载到末尾时，会重新播放-->
        </dl>
      </div>
    </aside>
  </div>
  <!--blogs end-->
</div>
<!--mainbody end-->
<footer>
  <div class="footer-mid">
    <div class="links">
      <h2>友情链接</h2>
      <ul>
        <li><a href="">刘欣个人博客</a></li>
        <li><a href="http://www.3dst.com">3DST技术服务中心</a></li>
      </ul>
    </div>
    <div class="visitors">
      <h2>最新评论</h2>
      <dl>
        <!--<dt><img src="/static/web/images/s8.jpg">-->
        <dt>
          {% for com in comm %}
        <dd>
          <time>{{ com.creat_time | date:"Y-m-d H:i:s" }}</time>
        </dd>
        <dd style="color: white;">网友评论: <a href="">{{ com.com }}</a></dd>
        <!--<dd>{{ com.com }}</dd>-->
        {% endfor %}
      </dl>
    </div>
    <section class="flickr">
      <h2>摄影作品</h2>
      <ul>
        <li><a href=""><img src="/static/web/images/01.jpg"></a></li>
        <li><a href=""><img src="/static/web/images/02.jpg"></a></li>
        <li><a href=""><img src="/static/web/images/03.jpg"></a></li>
        <li><a href=""><img src="/static/web/images/04.jpg"></a></li>
        <li><a href=""><img src="/static/web/images/05.jpg"></a></li>
        <li><a href=""><img src="/static/web/images/06.jpg"></a></li>
        <li><a href=""><img src="/static/web/images/07.jpg"></a></li>
        <li><a href=""><img src="/static/web/images/08.jpg"></a></li>
        <li><a href=""><img src="/static/web/images/09.jpg"></a></li>
      </ul>
    </section>
  </div>
  <div class="footer-bottom">
    <p>Copyright 2013 Design by <a href="http://www.yangqq.com">DanceSmile</a></p>
  </div>
</footer>
<!-- jQuery仿腾讯回顶部和建议 代码开始 -->
<div id="tbox"><a id="togbook" href="{% url 'web:comment' %}"></a> <a id="gotop" href="javascript:void(0)"></a></div>
<!-- 代码结束 -->
{% endif %}
{% endblock %}