
{% extends 'web/base_main.html' %}

{% block title %}

{% endblock %}

{% block js %}
{{ block.super }}
<script src="/static/web/js/scrollReveal.js"></script>
{% endblock %}

{% block content %}
<article>
  <div class="picbox">
    {% for art in page %}
      <ul style="height: 350px;width: 210px;padding-left: 30px;">
        <li data-scroll-reveal="enter bottom over 1s" ><a href=""><i><img src="/media/{{ art.icon }}"></i>
          <div class="picinfo">
            <h3>{{ art.title }}</h3>
            <span>{{ art.desc }}</span> </div>
          </a></li>
      </ul>
    {% endfor %}
  </div>
  <div class="pagelist">
    <a class="allpage"><b>共{{ page.paginator.num_pages }}页</b></a>&nbsp;
    <a class="allpage"><b>当前第{{ page.number }}页</b></a>&nbsp;
    {% if page.has_previous %}
      <a href="{% url 'web:share' %}?page={{ page.previous_page_number }}" aria-label="Previous">上一页</a>&nbsp;
    {% endif %}
    {% for i in page.paginator.page_range %}
      <a href="{% url 'web:share' %}?page={{ i }}" class="curPage">{{ i }}</a>&nbsp;
    {% endfor %}
    {% if page.has_next %}
      <a href="{% url 'web:share' %}?page={{ page.next_page_number }}" aria-label="Next">下一页</a>
    {% endif %}
  </div>
</article>
{% endblock %}

{% block footer %}
{{ block.super }}
<script>
	if (!(/msie [6|7|8|9]/i.test(navigator.userAgent))){
		(function(){
			window.scrollReveal = new scrollReveal({reset: true});
		})();
	};
</script>
{% endblock %}
